# Adidss Sales

## Table of Contents
### Import libraries and Data
### Data Wrangling
#### - Discovery
#### - Cleaning
#### - Exporting

### Import libraries and Data

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os
import datetime as dt

In [2]:
#Create path
path = r'/Users/rusamijan/04-2023 Adidas Sales Analysis'

In [3]:
#Import data
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Adidas_US_Sales 2.csv'), index_col = False)

### Data Wrangling

#### Disovery

In [4]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,50%,In-store
1,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,30%,In-store
2,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,35%,In-store
3,Foot Locker,1185732,1/4/20,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,35%,In-store
4,Foot Locker,1185732,1/5/20,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,30%,In-store

In [5]:
df.shape

(9648, 13)

In [6]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,50%,In-store
1,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,30%,In-store
2,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,35%,In-store
3,Foot Locker,1185732,1/4/20,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,35%,In-store
4,Foot Locker,1185732,1/5/20,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,30%,In-store

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   float64
 8   Units Sold        9648 non-null   float64
 9   Total Sales       9648 non-null   float64
 10  Operating Profit  9648 non-null   float64
 11  Operating Margin  9648 non-null   object
 12  Sales Method      9648 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 980.0+ KB

In [8]:
df.describe()

,Retailer ID,Price per Unit,Units Sold,Total Sales,Operating Profit
count,9.648000e+03,9648.000000,9648.000000,9648.000000,9648.000000
mean,1.173850e+06,45.216625,256.930037,93273.437500,34425.282131
std,2.636038e+04,14.705397,214.252030,141916.016727,54193.124141
min,1.128299e+06,7.000000,0.000000,0.000000,0.000000
25%,1.185732e+06,35.000000,106.000000,4254.500000,1922.000000
50%,1.185732e+06,45.000000,176.000000,9576.000000,4371.500000
75%,1.185732e+06,55.000000,350.000000,150000.000000,52063.000000
max,1.197831e+06,110.000000,1275.000000,825000.000000,390000.000000

### Cleaning

In [9]:
df.isna().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

In [10]:
df.dtypes

Retailer             object
Retailer ID           int64
Invoice Date         object
Region               object
State                object
City                 object
Product              object
Price per Unit      float64
Units Sold          float64
Total Sales         float64
Operating Profit    float64
Operating Margin     object
Sales Method         object
dtype: object

In [11]:
#check duplicate values
df_dup = df[df.duplicated()]

In [12]:
df_clean = df_dup.drop_duplicates() #no dup

In [13]:
df_clean.shape

(0, 13)

### Exporting

In [14]:
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ad_cleaned.pkl'))